$color-info: #457EAC;
$color-danger: #D00000;
$color-warning: #FFC000;
$color-success: #55A630;

.wrapper {

    position: absolute;
    bottom: 10%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    padding: 1rem;

    main {
        color: white;
        display: flex;
        height: 40px;
        gap: 1.5rem;
        flex-flow: column nowrap;
        border-radius: 5px;

        @media (min-width: 768px) {
            flex-flow: row nowrap;
        }
    }

    .button {
        color: white;
        padding: .5rem 1.5rem;
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        cursor: pointer;
        transition: .2s all linear;

        &:hover {
            box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
            filter: brightness(1.2);
            transform: translateY(-2px);
        }
    }
}

.toast-wrapper {
    position: absolute;
    top: 2rem;
    right: 2rem;
    text-align: right;

    display: flex;
    flex-flow: column nowrap;
    align-items: flex-end;
    gap: 1rem;

    .toast {

        padding: .5rem 1.5rem;
        padding-right: .25rem;

        border-width: 1px;
        border-style: solid;
        border-radius: 5px;

        box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;

        animation: .2s linear appear;

        &.info {
            border-color: $color-info;
            background-color: adjust-color($color-info, $alpha: -0.4);
        }

        &.warning {
            border-color: $color-warning;
            background-color: adjust-color($color-warning, $alpha: -0.4);
        }

        &.danger {
            border-color: $color-danger;
            background-color: adjust-color($color-danger, $alpha: -0.4);
        }

        &.success {
            border-color: $color-success;
            background-color: adjust-color($color-success, $alpha: -0.4);
        }

        .close-cross {
            cursor: pointer;
            transition: all .2s linear;
            padding: .25rem .5rem;
            border-radius: 3px;

            &:hover {
                filter: brightness(.8);
            }
        }
    }
}

@keyframes appear {
    from {
        transform: translateY(-50%);
        opacity: 0;
    }

    to {
        transform: translateY(0);
        opacity: 100%;
    }
}
